header {
  background-color: #E5E5E5;
}
main {
margin: auto;
width: 55%;
}
.batman {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  background-color: #C4C4C4;
  background-size:contain;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  color: #005677;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
  padding: 15px;
  font-size: 35px;
}

h2 {
  background-color: #C4C4C4;
  background-size:contain;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 700;
  color: #005677;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 6px;
}
li {
  font-size: 15px;
  line-height: 25px;
}
em {
  font-weight:700;
}
span {
  font-weight:700;
}
dt {
  margin-left: 3em;
  font-size: 15px;
}
dd {
  margin-left: 8em;
  font-size: 15px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFF;
  background-color: #005677;
  padding:5px;
}
.image-margin {
  margin-left: 20px;
}