* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E5E5;
  margin-bottom: 100px;
}
header a {
  margin-top:5px;
  margin-bottom:5px;
}

main {
margin: auto;
width: 55%;
}

h1 {
  background-color: #C4C4C4;
  background-size:contain;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  color: #005677;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
  padding: 10px;
  font-size: 35px;
  width:100%;
  
}

h2 {
  background-color: #C4C4C4;
  background-size:contain;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 700;
  color: #005677;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 3px;
}
li {
  font-size: 15px;
  line-height: 25px;
}
em {
  font-weight:700;
}
span {
  font-weight:700;
}

dt {
  margin-left: 1.5em;
  font-size: 15px;
}
dd {
  margin-left: 6.5em;
  font-size: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFF;
  background-color: #005677;
  padding: 7px;

}
.image-margin {
  margin-left: 20px;
}
ul {
  margin-top:18px;
  margin-bottom: 30px;
  margin-left: 25px;
}
.formacion {
  margin-top: 19px;
  margin-bottom: 30px;
}
.experiencia {
  margin-top: 19px;
  margin-bottom: 75px;
}

